$light-yellow: #ffeeb2;
$deep-yellow: #ffc700;
$error-color: #f00;

$content-width: 400px;

$input-width: 200px;
$input-height: 40px;
$input-border-radius: 10px;
$input-font-size: 20px;
$input-focus-border: 2px solid #f5a623;
