@import '@src/style/common.scss';
@import '../mockVar.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.content {
  text-align: center;
  padding: 10px 0px;
  margin: 8px 0px;
  width: $content-width;
}

.prize {
  @extend .content;
  color: white;
  background-color: $orange;
  border-radius: 10px;
  font-size: 2em;
}

.provider {
  color: $salmonpink;
  font-size: 0.7em;
}

.winner {
  @extend .content;
  color: black;
  background-color: white;
  font-size: 1.5em;
}

.winner--none {
  @extend .winner;
  border: 2px dotted black;
  cursor: pointer;
}

.donateContainer {
  margin: 30px 0px;
  width: 400px;
  height: 110px;
  position: relative;
}

.donateContainerCreate {
  @extend .donateContainer;
  transform-style: preserve-3d;
  transition: 0.5s all ease;
  transform: rotateY(180deg);
}

.donateContent {
  @extend .prize;
  height: 110px;
  font-size: $input-font-size;
  position: absolute;
  backface-visibility: hidden;
}

.donateTitle {
  @extend .donateContent;
  text-align: center;
}

.donateForm {
  @extend .donateContent;
  transform: rotateY(180deg);
}

.donateButton {
  @extend .winner;
  cursor: pointer;
}
