@import '@src/style/common.scss';
@import '../mockVar.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.content {
  text-align: center;
  padding: 10px 0px;
  margin: 8px 0px;
  width: $content-width;
}

.prize {
  @extend .content;
  color: white;
  background-color: $orange;
  border-radius: 10px;
  font-size: 2em;
}

.provider {
  color: $salmonpink;
  font-size: 0.7em;
}

.winner {
  @extend .content;
  color: black;
  background-color: white;
  font-size: 1.5em;
}

.winner--none {
  @extend .winner;
  border: 2px dotted black;
  cursor: pointer;
}

@keyframes neon-shine {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    background-color: $buttermilk;
  }
}

.donateContent {
  @extend .prize;
  height: 200px;
}

.donateButton {
  @extend .winner;
  // color: #fff;
  // background-color: #fff;
  // box-shadow: 0 0 5px rgba(255, 65, 65, 1), 0 0 10px rgba(255, 65, 65, 1), 0 0 20px rgba(255, 65, 65, 1),
  //   0 0 40px rgba(255, 65, 65, 1);

  // animation: neon-shine 2s linear infinite;
}
