@import '@src/style/common.scss';

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $input-font-size;
  padding: 2px 20px;
  label {
    display: block;
  }
  input {
    display: block;
    width: $input-width;
    height: $input-height;
    border: none;
    border-radius: $input-border-radius;
    text-align: center;
    outline: 0px;

    &:focus {
      border: $input-focus-border;
    }
  }
}

.error {
  text-align: start;
  font-size: $input-error-font-size;
  color: $error-color;
  padding: 1px 0px 0px $input-error-font-size;
}
